$white: #fff

body 
    background: url('../../assets/background/copy-space-metallic-pastel-green-wall.jpg') no-repeat
    background-position: center
    background-attachment: fixed
    display: flex
    justify-content: center
    align-items: center

/*Login page style*/

.Logincontainer
    display: flex
    background: transparent
    border: 2px solid rgba(255, 255, 255, .2)
    backdrop-filter: blur(10px)
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    margin: auto
    padding-bottom: 30px
    margin-top: 50px
    border-radius: 10px
    width: 500px
    height: 500px
    overflow: hidden
    align-content: center
    justify-content: center
    .register-custom
        display: flex
        justify-content: space-evenly
        flex-direction: column
        align-items: center
        font-size: 15px
        color: $white
        margin-top: 1.5rem
        .link-register
            color: $white
            font-size: 17px
    .remember-forgot
        display: flex
        justify-content: space-evenly
        font-size: 15px
        color: $white
        margin-top: 1.5rem
        a
            color: $white
/*Register page sytle*/
.Registercontainer
    display: flex
    background: transparent
    border: 2px solid rgba(255, 255, 255, .2)
    backdrop-filter: blur(10px)
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    margin: auto
    padding-bottom: 30px
    margin-top: 1.1rem
    border-radius: 10px
    width: 500px
    height: 570px
    overflow: hidden
    align-content: center
    justify-content: center
    
/*Forgot page style*/

.Forgotcontainer
    display: flex
    background: transparent
    border: 2px solid rgba(255, 255, 255, .2)
    backdrop-filter: blur(10px)
    box-shadow: 0 0 10px rgba(0, 0, 0, .2)
    margin: auto
    padding-bottom: 30px
    margin-top: 50px
    border-radius: 10px
    width: 500px
    height: 450px
    overflow: hidden
    align-content: center
    justify-content: center
    p
        color: $white
        display: flex
        align-content: center
        margin-left: 3rem
        margin-right: 3rem

/*Genereal style*/

.Logincontainer, .Registercontainer, .Forgotcontainer   
    h4 
        color: $white
        text-align: center
        font-size: 16px
    h1
        color: $white
        text-align: center
        font-size: 50px
        margin: 2rem

    .login-btn-group
        justify-content: center
        margin: auto
        display: flex
        flex-direction: column
        align-items: center
        button
            margin: 0.5rem
            width: 330px
            height: 48px
            border-radius: 32px
            border-color: $white
            font-size: 17px
            color: rgb(69, 75, 74)

    .input-box
        input
            margin: auto
            margin-top: 1.5rem
            align-items: center
            display: flex
            width: 330px
            height: 48px
            border-radius: 32px
            text-align: left
            font-size: 15px
            padding: 20px 45px 20px 20px
            background: transparent
            color: $white
            border: none
            border: 2px solid rgba(255, 255, 255, .2)
            &::placeholder
                color: $white
        .icon
            position: absolute
            right: 100px
            transform: translateY(-205%)
            font-size: 16px
            color: $white
    
    .login-custom
        display: flex
        justify-content: space-evenly
        flex-direction: column
        align-items: center
        font-size: 15px
        color: $white
        margin-top: 1.5rem
        margin-bottom: 2rem
        .link-login
            color: $white
            font-size: 17px